/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* wildcard selectoe to reset all browser default style rules */
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    /* Sets the base font size to 16px */
}

/* general style rules */
body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Rubik';
    font-size: 1rem;
}

header {
    height: 5rem;
    padding: 0 1em;
    width: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    position: fixed;

}

main {
    margin-top: 5em;
    /* because header is fixed and will overlap */
    flex: 1 0 auto;
    padding: 1.5em 1em;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 247);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10em;

}

footer {
    color: white;
    background-color: black;
    height: 5rem;
}


/* mobile phone breaks into 2 rows, both rows are centered */
h1,
h2 {
    text-align: center;
}

#nav-right a,
nav a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit text color from parent */
    cursor: pointer;
    /* Add pointer cursor */
}

/* main nav content (logo, dropdown menu toggle etc..) */
.nav-icons {
    height: 4.5rem;
    width: 4.5rem;
}


/* pages in dropdown menu */
.nav-dropdown-pages {
    width: 100%;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .15rem solid white;
    border-radius: .75rem;
    font-size: 1.5em;
    font-weight: 400;
}


/* each page have significant gap */
.main-pages {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: auto;
    width: auto;
}


/* section styles within main content */
.main-page-segments {
    background-color: white;
    border-radius: 1em;
}

/* sections within pages default properties */
.main-sec-defprop {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.intro-images {
    width: 10em;
    height: 10em;
    border-radius: 0.25em;
}


/* timeline page segment general rules */
.timeline-event {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 1em;
}

.timeline-image {
    width: 10em;
    height: 10em;

    border-radius: 0.25em;
}


.timeline-event-content {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.timeline-event-content-list {
    list-style: inside disc;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    height: auto;
    width: auto;
}

.ref-content-container{

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    gap: 1em;

    padding: 1em 2em;

}


.ref-content-h3{

    margin-left:2em;
    
}

.ref-content-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

/* intro section */
#main-intro {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 3em;
}


/* timeline section */
#main-timeline {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 6em;
}

#main-ref {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em 1em;
    gap: 2em;
    text-align: center;
}

#ref-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

}



/* centers dropdown button in center */
#nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}


#nav-right {
    font-size: 0;
}

#nav-main {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#nav-logo {
    width: 100%;
    height: 100%;
}


/* mobile phone dropdown menu */
#nav-dropdown {
    position: absolute;
    background-color: black;
    padding: 0 2rem;
    width: 100%;
    height: 20rem;
    margin-bottom: -25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    /* hides dropdown menu on start */
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/* button to toggle dropdown menu*/
#nav-toggle {
    border: none;
    font-size: 3rem;
    color: white;
    background: none;
}


/* Media query - tablets and larger (768px) */

@media screen and (min-width:768px) {

    body {
        font-size: 1.125rem;
    }

    /* increased padding for bigger screen */
    header {
        padding: 0 3em;
    }

    main {
        padding: 3em 2em;
    }

    /* nav pages on bigger screen sizes (in the main nav bar instead of dropdown menu */
    .nav-main-pages {
        display: flex;
        align-items: center;
        height: 3.5rem;
        width: auto;
        padding: 0 1em;
        border: .15em solid black;
        border-radius: 1em;
    }


    /* hover animation */
    .nav-main-pages:hover {
        border-color: white;
        background-color: white;
        color: black;

        transition: all;
        transition-duration: 0.3s;
    }

     /* click animation for touchscreen (tablets, ipads etc) */
     .nav-main-pages:active {
        border-color: white;
        background-color: white;
        color: black;

        transition: all;
        transition-duration: 0.3s;
    }

    .main-intro-sec {
        flex-direction: row;
    }


    .main-pages {
        min-width: 40em;
        max-width: 65em;
        width: 100%;
        gap: 2em;
    }


    .intro-images{
        width: 12.5em;
        height: 12.5em;
        border-radius: 0.5em;
    }


    .timeline-image{

        width: 12.5em;
        height: 12.5em;
        border-radius: 0.5em;
        }

    .timeline-event-content {
        flex-direction: row;
        gap: 2em;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 0em 1em;
        height: auto;

    }

    .timeline-event-content-2 {
        flex-direction: row-reverse;
    }

    .timeline-event-content-4 {
        flex-direction: row-reverse;
    }

    .ref-content-h3{
        margin-left:2em;
    }

    .ref-content-ul{
        margin-left:4em;
    }


    #main-timeline {
        padding: 3em 1.5em;
    }

    /* uses the filler div used on mobile, as the page links in middle of nav bar */
    #nav-right {
        font-size: 1em;
        order: 2;
        width: 28em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 2em;
    }

    /* mobile dropdown div now becomes the filler div for bigger screens */
    #nav-left {
        order: 3;
        background: none;
    }


    /* removes dropdown button for larger screen sizes */
    #nav-toggle {
        font-size: 0;
    }

    /* makes page intro smaller */
    #main-intro {
        height: auto;
        padding: 3em 1.5em;
    }


    /* places logo on left of nav bar*/
    #nav-mid {
        order: 1;
    }

    #main-ref {
        width: auto;
        padding: 3em 1.5em;
        gap: 3em;
    }





}